// Include sharing menu
if config.share
    include items/articleShare

article.single
    .color
        .icons
            if config.github.history
                a(href= config.github.url + '/commits/master/' + realPath , title='History' ).mdi-button
                    i.mdi history
            // If share links are provided, we render share icon
            if config.share
                button.mdi-button#article-share(title="Share")
                    i.mdi share
        h1!=title
            span!='Reading time ' + readingTime
        .wrap-tags-meta
            .tags
                //each tag in page.tags
                //    span Tag
            .meta
                span.created(date=created)!=created.format('Do MMMM')
    section
        !=contents

#tableOfContent
    each heading in headings
        .heading
            .heading-text
                a(href='#' + heading.title.id class='heading-title')!=heading.title.text
                // If there are sub headers, show drop-down icon
                if heading.array.length !== 0
                    button.mdi-button
                        i.mdi arrow_drop_down
            // If there are sub headers, start ul
            if heading.array.length !== 0
                ul.subHeaders
                    each h in heading.array
                        li(class='tag-' + h.tag)
                            a(href='#' + h.id)!= h.text